.body {
  background-color: black;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #ffffff;
}

.content {
  display: flex;
  margin: 145px 2.5% auto 2.5%;
  box-sizing: border-box;
  flex-direction: column;
}

.content__title {
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  opacity: 50%;
  font-weight: 400;
}

.content__text {
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 0px 1em;
  margin-top: 48px;
  padding: 0px;
}

.text__item_end-of-line::after {
  content: "";
  display: block;
}
