.body {
  background-color: black;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  color: #ffffff;
}

.content {
  display: flex;
  margin: 145px 2.5% auto 2.5%;
  box-sizing: border-box;
  flex-direction: column;
}

.content__title {
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  opacity: 50%;
  font-weight: 400;
}

.content__text {
  font-size: 120px;
  line-height: 100%;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 0px 1em;
  margin-top: 48px;
  padding: 0px;
}

.text__item_end-of-line::after {
  content: "";
  display: block;
}

.back-line {
  position: relative;
  width: 66%;
  border: 1px solid #ffffff;
  margin: 16px auto;
}

.button {
  display: flex;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  background-color: transparent;
  border: none;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  padding: 24px 24px;
  margin: 0px;
  background-color: #ffffff;
}

.button:after,
.button:before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 0;
  width: 0px;
  border-top: 40px transparent solid;
  border-bottom: 40px transparent solid;
}

.button:before {
  left: -29px;
  border-right: 30px #ffffff solid;
}
.button:after {
  right: -29px;
  border-left: 30px #ffffff solid;
}
